:root {
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --bg-color: #f5f4fa;
  --block-bg-color: #2f303a;
  --light-text-color: #757575;
  --text-color: #212121;
}
body {
  font-family: roboto;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  letter-spacing: 0.03em;
}

/* =========== HEADER ============= */

ul {
  padding: 0;
  list-style: none;
}
.active {
  color: var(--accent-color);
}
.logo {
  font-family: raleway;
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
}
.web {
  font-family: raleway;
  font-size: 26px;
  color: var(--accent-color);
}

a {
  color: var(--text-color);
  font-size: 14px;
  text-decoration: none;
}
li > a:hover,
li > a:focus {
  color: var(--accent-color);
}
.header-contact {
  color: var(--light-text-color);
}

/* =========== END HEADER ============= */

.firstBlock {
  background-color: var(--block-bg-color);
}
h1 {
  color: var(--white-color);
  font-size: 44px;
  line-height: 1.363;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}
.btn {
  cursor: pointer;
  background-color: var(--accent-color);
  border-radius: 4px;
  border: solid transparent 2px;
  color: var(--white-color);
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
}

.advantages > li {
  width: 270px;
}

h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.172;
}
.advantages-h3 {
  font-size: 14px;
  text-transform: uppercase;
}

li > p {
  font-weight: 400;
  font-size: 14px;
  color: var(--light-text-color);
  line-height: 1.714;
}

.whatWeDo-item {
  text-decoration: none;
}
.team {
  background: var(--bg-color);
}

.team-list-item {
  /* box-shadow: 0px 1px 3px #0000001f, 0px 1px 1px #00000024,
    0px 2px 1px #00000033; */
  border-radius: 0px 0px 4px 4px;
}

.portfolio-item {
  font-size: 18px;
  border: 1px solid #eeeeee;
}
.portfolio-item h3 {
  font-size: 18px;
  color: var(--text-color);
}
.portfolio-item-p {
  font-weight: 400;
  color: var(--light-text-color);
}
.list-btn-item {
  cursor: pointer;
  background: var(--bg-color);
  border-radius: 4px;
}
.list-btn-item:hover,
.list-btn-item:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  /* box-shadow: 0px 3px 1px #0000001a, 0px 1px 2px #00000014,
    0px 2px 2px #0000001f; */
  border-radius: 4px;
}
h4 {
  display: none;
}

/* ============== FOOTER =================== */

footer {
  background: var(--block-bg-color);
}
address a {
  color: var(--light-text-color);
  opacity: 60%;
}
.footer-item {
  font-size: 14px;
  font-style: normal;
  color: var(--white-color);
}
.studio {
  font-family: raleway;
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  color: var(--white-color);
}
